
<h1>Search Results for "<%= @search_query %>"</h1>




  <ul>
    <% @users.each do |user| %>
      <li>
        <h2><%= user.email %></h2>
        <div class="tags">
          <strong>Skills:</strong>
          <% user.skill_list.each do |skill| %>
            <span class="tag"><%= skill %></span>
          <% end %>
          <br>
          <strong>Expertise:</strong>
          <% user.expertise_list.each do |expertise| %>
            <span class="tag"><%= expertise %></span>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
