<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid is-justify-content-center">
    <a class="navbar-brand " href="/">Posts App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
<!--          <a class="nav-link active" aria-current="page" href="/">Home</a>-->
<!--          <a class="nav-link active" aria-current="page" href="/"><button type="button" class="btn btn-success position-relative">Home</button></a>-->
        </li>

      </ul>

      <%= form_tag(search_posts_path, method: :get, class: "search-form") do %>
        <%= text_field_tag :search, params[:search], id: "input-text", placeholder: "Search posts..." %>
        <%= submit_tag "Search" %>
      <% end %>



    </div>
  </div>
</nav>


<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-end">
    <button class="btn btn-outline-success me-2" type="button"><%= link_to "Contact Admin", new_contact_path %></button>
    <%#= form_with(model: @contact) do |form| %>
      <%#= form.label :subject %>
      <%#= form.text_field :subject %>

      <%#= form.label :message %>
      <%#= form.text_area :message %>

      <%#= form.submit "Send" %>
    <%# end %>

  </form>
</nav>




























<!--<script>-->
<!--    $(document).ready(function() {-->

<!--        var inputField = $("#input-text");-->
<!--        inputField.on("input", function() {-->
<!--            console.log("Input value changed.....");-->

<!--            var formData = inputField.serialize();-->
<!--            $.ajax({-->
<!--                type:'GET',-->
<!--                url:'/posts/search',-->
<!--                data: formData,-->
<!--                success: function(response){-->
<!--                    $('#search-results').html(response);-->
<!--                },-->
<!--                error: function() {-->
<!--                }-->
<!--            });-->

<!--        });-->
<!--    });-->



<!--    // $(document).ready(function() {-->
<!--    //     var form = $('#search-form');-->
<!--    //-->
<!--    //-->
<!--    //     form.submit(function(event) {-->
<!--    //         event.preventDefault();-->
<!--    //-->
<!--    //-->
<!--    //         var formData = form.serialize();-->
<!--    //         debugger-->
<!--    //         $.ajax({-->
<!--    //             type: 'GET',-->
<!--    //             url: '/posts/search',-->
<!--    //             data: formData,-->
<!--    //             success: function(response) {-->
<!--    //                 $('#search-results').html(response);-->
<!--    //             },-->
<!--    //             error: function() {-->
<!--    //             }-->
<!--    //         });-->
<!--    //     });-->
<!--    // });-->
<!--</script>-->
